* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;  
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.clearfix:after{  
visibility:hidden;/*見えなくする*/ 
height:0;/*見えなくする*/
display: block;/*block要素にする*/
font-size: 0;  
content: " ";  
clear: both;  

}   

.left {
    float: left;
    display: inline;
}

#text1  {
   

}

#text1 li {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #fff;
}

#text1 li.active {
    background-color: #fff;
    color: #000;
}

p.text2 span{
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #fff;
}

p.text2 .active{
    background-color: #fff;
    color: #000;
}


#logo {
  
  padding-top: 130px;
  padding-bottom: 50px;
  text-align: center;
}

#logo img {
  max-width: 250px;
  border: 15px solid;
  border-color: rgba(255,255,255,0.7) ;
  border-radius: 100%;
}

#logo h1 {
  padding-top:30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#logo h2 {

    opacity:0.5;
    font-size:25px;

}

#logo p {
     color:#fff;
     width:170px;
     border-top:1px solid #fff;
     margin-top:30px;
     padding-top:15px;
     opacity:0.5;
     
}

.navbar-brand {
 font-family: Arial, Helvetica, sans-serif;
}

ul.nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

a {
   color:#000; 
}

a:hover {
    color:#123456;
}

    

#about1 {
    width:100%;    
    padding-top:100px;     
    padding-bottom:100px; 
    background:#f5f4f4;
}



#about1 h2{
    font-size:40px;   
    padding-bottom:50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#676767;
}

#about1 ul li {
    list-style: none;
    color: #000;
    font-size: 20px;
    
}

#about1 ul li.icon {
    font-size: 50px;
    padding-bottom: 50px;
    color: #676767;
}

#about1 ul li.font1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    color: #333333;
}

#about1 ul li.font2{
    font-size: 15px;
    line-height: 27px;
    color: #676767;
}


#skill{
    width:100%;    
    padding-top:100px;     
    padding-bottom:100px; 
    background:#00b5b4;
    
}

#skill h2{
    font-size:40px;   
    padding-bottom:50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

#skill ul li {
    list-style: none;
    color: #000;
}

#skill #skill-sub_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#skill #skill-contents {
    line-height: 40px;
    text-align: left;
}


.progress {background: rgba(196, 196, 196, 1)}; 
.progress-bar-custom {background: rgba(117, 213, 245, 0.97);}


#portfolio{
    width:100%;    
    padding-top:100px;     
    padding-bottom:100px;     
    background:#333333;
}

#portfolio h2{
    font-size:40px;
    padding-bottom:50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}

#portfolio ul li {
    list-style: none;
}

#portfolio ul.under {
    padding-top: 15px;
}

.col-sm-6 {
    margin-top: 10px;    
}

.thumb {
	background:url(../images/Microposts_hover.jpg) no-repeat;
    background-position: center;   
}

#contact{
    width:100%;    
    padding-top:100px;     
    padding-bottom:100px;     
}

#contact h2 {
    font-size:40px;
    padding-bottom:50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#000;
}


footer {
  width: 100%;
  padding: 20px 0;
  font-size: 93%;
  background-color: #ccc;
  color: #666;
  
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #85cdfd;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;

}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
    color: #85cdfd;
}

.navbar-custom .nav li.active a:hover {
    color: #85cdfd;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #333333;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
	background:url(../images/bgd.jpg);
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}



